@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.main-box {
    width: 1280px;
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: #373737;
}

.header .header-menu {
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: center;
}

.header-menu .menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu .menu-item {
    display: inline-block;
    margin-right: 72px;
    text-transform: uppercase;
}

.header-menu .menu-link {
    text-decoration: none;
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
}

.content-box .content-title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 49px;
}

.content-box .content-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding-right: 68px;
    padding-left: 68px;
}

.content-box .content-button {
    text-align: center;
    margin-top: 66px;
}

.content-button .button {
    font-family: 'Montserrat', sans-serif;
    width: 191px;
    height: 51px;
    text-align: center;
    text-transform: uppercase;
    background: #FF0000;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    border: none;
    border-radius: 4px;
}

.footer .footer-copyright {
    padding-right: 106px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    line-height: 20px;
    letter-spacing: 2.4px;  
    margin-top: 82px;
}